venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc

anaconda_projects/

data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/sample_videos/.gitkeep
.DS_Store
__pycache__/
.ipynb_checkpoints/
venv/
